@define-color base03    #002b36;
@define-color base02    #073642;
@define-color base01    #586e75;
@define-color base00    #657b83;
@define-color base0     #839496;
@define-color base1     #93a1a1;
@define-color base2     #eee8d5;
@define-color base3     #fdf6e3;
@define-color yellow    #b58900;
@define-color orange    #cb4b16;
@define-color red       #dc322f;
@define-color magenta   #d33682;
@define-color violet    #6c71c4;
@define-color blue      #268bd2;
@define-color cyan      #2aa198;
@define-color green     #859900;


window {
    opacity: 0.9;
    border:  0px;
    border-radius: 10px;
    font-size: 16px;
    color: @base00;
    background-color: @base3;
}

#input {
    border-radius: 5px;
    border:  10px;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    font-family: Monaspace Neon NF;
    background-color: @base3;
    color: @base00;
}

#inner-box {
    margin: 0px;
}

#outer-box {
    margin: 0px;
    border-radius: 10px;
}

#entry:selected {
    background-color: @base2;
}
#text:selected {
    color: @green;
}

#entry {
    padding: 0px;
    margin: 0px;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}
