[Desktop Entry]

# The type as listed above
Type=Application
# The version of the desktop entry specification to which this file complies
Version=1.0
# The name of the application
Name=Emacs
GenericName=Text Editor
MimeType=text/english;text/plain;text/x-makefile;text/python
# A comment which can/will be used as a tooltip
Comment=An Extensible, customizable free/libre text editor - and more
# The path to the folder in which the executable is run
Path=/usr/bin/
# The executable of the application, possibly with arguments.
Exec=emacsclient -c %F
# The name of the icon that will be used to display this entry
Icon=emacs
# Describes whether this application needs to be run in a terminal or not
Terminal=false
# Describes the categories in which this entry should be shown
Categories=TextEditor,Development